.body {
    background: white;
    margin: 0; padding: 0;
}
* {
    font-family: 'Noto Sans KR', sans-serif !important;
}

.main_title {
    text-align: center;
    color: black;
    background: rgb(236, 236, 236);
}
.main_title h1 {
    position: relative;
    font-size: 3rem;
    margin-top: -70px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main_title p {
    position: relative;
    margin-top: -20px;
    padding-bottom: 11px;
}

/*
.gohome {
    position: relative;
    margin-bottom: -60px;
    margin-top: 35px;
    margin-left: 50px;
    background: rgb(236, 236, 236);
}*/
/*
.text-anime h1 {

    position: relative;
    padding-left: 50px;
    padding-top: 50px;
    font-size: 3.5rem;
}*/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: -50px;
    margin: 50px;
    
}
/* .info h4 {
    position: relative;
    color: white;
    background: rgb(9, 9, 36);
    width: 500px;
    
    margin: 20px;
    padding-bottom: 100px;
} */

.card-title {
    margin-left: -10px;
    width:170px;
    padding:0 5px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}



.abouts {
    color: black;

}

.abouts h1 {
    padding-top: 200px;
    padding-left: 50px;

}
.abouts p {
    position: relative;
    font-size: 1.5rem;
    padding-left: 50px;
    margin-bottom: 200px;
}
.end {
    color: white;
    background: rgb(6, 6, 31);
    margin-bottom: 0px;
}

.end h3 {
    padding-left: 20px;
    
}
.end p {
    padding-left: 20px;
    margin-bottom: 0px;
}

/*
.box-container {
    display: flex;
    width: 250px;
    height: 100px;
    overflow: hidden;
}
.card-img-top {
    max-width: 1.5rem;
    height: auto;
}
*/
